<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
     <meta charset="UTF-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<form method="post", action="/login">
로그인을 정보를 입력해주세요<br>
    <div class="col-lg-6">
<div class="input-group input-group-lg">

  <span class="input-group-addon" id="sizing-addon1">ID</span>
  <input type="text" name = "m_id" class="form-control" placeholder="UserID" aria-describedby="sizing-addon1">
  <span class="input-group-addon" id="sizing-addon1">PW</span>
  <input type="password" name = "m_pw" class="form-control" placeholder="UserPW" aria-describedby="sizing-addon1">
</div>
    </div>
<br><br>
<input type = "submit" value="로그인">
</form>

</body>
</html>